html {
  font-size: 62.5%;
}

//  variables
$font-stack: roboto, sans-serif;

$primary-color: white;
$primary-text-color: #636363;
$accent-color: #4044c9;
$hover-color-grey: rgba(128, 128, 128, 0.108);
$co-accent-color: #5b5eb0;
$opposite-color: #c98440;
$header-height: 60px;
$footer-height: 0px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  user-select: none;
  // outline: 1px solid green;
}
@mixin white-containers {
  -webkit-box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.09);
  box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.09);
  margin: 2rem;
  border-radius: 1.5rem;
  overflow: auto;
}
@mixin input-area {
  font-family: inherit;
  font-size: 1.5rem;
  height: 4rem;
  flex: 1;
  border-radius: 1rem;
  border: 1px solid black;
  padding: 1rem;
  letter-spacing: 0.06rem;
  color: #4f4f4f;
}
@mixin input-area-focus {
  outline: none;
  border: 2px solid $accent-color;
}
@mixin enterButton {
  background-color: $accent-color;
  color: white;
}
.hidden { display: none; }
.black { color: black; }
.white { color: white; }
.colorize-white {
  filter: brightness(0) invert(1);
}
input {
  text-overflow: ellipsis;
  overflow: hidden;
}
// ---------------------------------------------------------------------------

body {
  font-family: $font-stack;
  font-size: 1.6rem;
  color: $primary-text-color;

  min-height: 100vh;
  min-width: 113rem;
  overflow: auto;

  // navigation bar

  nav {
    .nav__left-section {
      display: flex;
    }
    font-size: 2.2rem;

    height: $header-height;
    padding: 2rem;

    background-color: $accent-color;
    color: white;

    .nav-logo__img {
      height: 2rem;
      margin-inline: 1.4rem;
    }
  }

  // everything below navigation

  main {
    display: flex;
    height: calc(100vh - #{$footer-height} - #{$header-height});
  }

  // sidebar
  aside {
    @include white-containers;

    width: 25%;
    min-width: 32rem;

    padding: 3rem;

    // all, important, today
    .default-project-list li {
      cursor: pointer;

      margin-block: 1rem;
      padding: 1rem;

      border-radius: 1rem;
    }
    .default-project-list li:hover {
      background-color: rgba(128, 128, 128, 0.108);
    }
    .d-active {
      background-color: rgba(128, 128, 128, 0.108);
    }

    // icons for all, important, today
    .default-project-list img {
      height: 2rem;

      transform: translateY(4px);

      margin-right: 1rem;
    }

    .custom-project-list {
      h3 {
        margin-block: 2rem;

        font-size: 2rem;
      }
      li {
        span {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .heading-icon_img {
          height: 1.2rem;
          
          margin-inline: 0.9rem;
          transform: scale(1.9);
        }
        .remove_project:hover {
          cursor: pointer;
        }
        
        display: flex;
        justify-content: space-between;

        padding: 1.4rem;

        -webkit-box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.09);
        box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.09);

        margin-block: 2.5rem;
        border-radius: 1.5rem;

        // transition: all 0.2s ease-in-out;
      }
      li:hover {
        // outline: 2px solid $accent-color;
        background-color: $accent-color;
        color: white;
      }
      .active {
        background-color: $accent-color;
        color: white;
      }
    }
    // .add-new-projects:hover {
    //   // transform: scale(1.06);
    // }
  }

  // WHOLE SECTION
  .add-new-projects,
  .add-new-tasks {
    position: relative;
    font-size: 1.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-block: 2.5rem;

    text-align: center;

    // ADD NEW PROJECT/TASK BUTTON
    .add-new-projects__button,
    .add-new-tasks__button {
      // visibility: hidden;
      display: flex;
      align-items: center;
      font-size: 1.7rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 1.3rem;

      background-color: transparent;
      transition: 0.3s ease-in-out;
      .add-new-projects__img,
      .add-new-tasks__img {
        height: 2rem;
        margin-right: 0.8rem;
      }
    }
    .add-new-projects__button:hover,
    .add-new-tasks__button:hover {
      // background-color: $hover-color-grey;
      transform: scale(1.1);
      cursor: pointer;
    }

    // FORM WHICH IS HIDDEN
    .add-new-projects__form,
    .add-new-tasks__form {
      visibility: hidden;
      position: absolute;
      top: 0;
      // outline: 2px solid red;
      display: flex;
      flex-direction: column;

      gap: 2rem;
      width: 100%;

      .add-new-projects__input--text {
        display: block;
        @include input-area;
        border: 2px solid transparent;
        outline: 1px solid black;
      }
      .add-new-projects__input--text:focus {
        @include input-area-focus;
      }

      .add-new-projects__two-buttons {
        display: flex;
        gap: 1.4rem;
        height: 4rem;
        font-size: 2rem;
        .add-new-projects__form-buttons {
          flex: 1;
          padding: 1rem 1.5rem;
          border: none;
          border-radius: 1rem;
        }

        .add-new-projects__button--enter {
          @include enterButton;
        }
        .add-new-projects__form-buttons:hover {
          cursor: pointer;
        }
      }
    }
    // transition: all 0.5s ease-in-out;
  }

  // main task section

  section {
    @include white-containers;

    flex: 1;
    padding: 3rem 15rem 3rem 15rem;

        h1 {
          font-size: 3rem;

          border-bottom: 2px solid $primary-text-color;

          margin-block: 2rem;
          padding-bottom: 0.8rem;
        }
      
    // .heading-and-remove {
    //   display: flex;
    //   justify-content: space-between;
    //   .remove-project {
    //     h1 {
    //       font-size: 3rem;

    //       border-bottom: 2px solid $primary-text-color;

    //       margin-block: 2rem;
    //       padding-bottom: 0.8rem;
    //     }
    //     img {
    //       height: 3rem;
    //       transition: 0.2s all ease-in-out;
    //     }
    //     img:hover {
    //       transform: scale(1.1);
    //     }
    //     img:active {
    //       transform: scale(1);
    //     }
    //   }
    // }

    // list area
    .task-lists {
      margin-top: 4rem;

      // position: relative;

      label {
        display: flex;
        justify-content: space-between;

        margin-block: 0.5rem;
        padding: 1rem;

        border-radius: 1rem;

        .left-side {
          display: flex;
          align-items: center;
        }

        .date {
          visibility: hidden;
          font-size: 1.2rem;
          padding: 0.5rem 1rem;

          border: 1px solid black;
          background-color: #f2f1f1;
          border-radius: 0.8rem;
          letter-spacing: 0.02rem;
        }
        .remove {
          font-size: 1.3rem;
          font-weight: 900;
          padding: 1rem;
        }
      }
      label:hover,
      .checkbox:hover {
        background-color: rgba(128, 128, 128, 0.089);
        cursor: pointer;
      }
      .checkbox {
        margin-right: 1rem;
        // background-color: red;
        height: 1em;
        width: 1em;
      }
      .checkbox:checked + span {
        text-decoration: line-through;
        color: #8c8c8c;
        // color: #c0c0c0;
      }
      .artificial-checkbox img {
        display: none;

        height: 1.5rem;
        width: 1.5rem;
      }
    }

    // ********************************  STOPPPP *******************************************

    .add-new-tasks {
      .add-new-tasks__form {
        flex-direction: row;
        gap: 0rem;
        // visibility: hidden;
      }

      .add-new-tasks__button--enter {
        @include enterButton;
        // margin-inline: ;
      }
      .add-new-tasks__input--text {
        @include input-area;
        margin-right: 0.5rem;
      }
      .add-new-tasks__input--text:focus {
        @include input-area-focus;
      }
      // ADD NEW ITEMS
      .add-new-tasks__buttons {
        font-size: 1.5rem;

        padding: 0.5rem 2rem;
        border: none;
        border-radius: 1rem;
        margin-inline: 0.5rem;

        img {
          height: 2rem;
          margin-right: 0.8rem;
        }
      }
    }
  }
}

// .add-new-tasks__form {
//   // visibility: hidden;
//   position: absolute;
//   display: none;
//   top: 0;
//   width: 100%;
//   display: flex;
//   button {
//     padding: 0.5rem 1rem;
//     border: none;
//     border-radius: 1rem;
//     height: 4rem;
//     margin-inline: 0.5rem;
//   }
//   // .add {
//   //   padding: 0.5rem 2rem;
//   //   background-color: $accent-color;
//   //   color: white;
//   // }
// }
