html {
  font-size: 62.5%;
}

//  variables
$font-stack: roboto, sans-serif;

$primary-color: white;
$primary-text-color: #636363;
$accent-color: #4044c9;

$header-height: 60px;
$footer-height: 0px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  user-select: none;
    // outline: 1px solid green;
}
@mixin white-containers {
  -webkit-box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.09);
  box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.09);
  margin: 2rem;
  border-radius: 1.5rem;
  overflow: auto;
}

// ---------------------------------------------------------------------------

body {
  font-family: $font-stack;
  font-size: 1.6rem;
  color: $primary-text-color;

  min-height: 100vh;
  overflow: auto;

  nav {
    display: flex;
    font-size: 2.2rem;

    height: $header-height;
    padding: 2rem;

    background-color: $accent-color;
    color: white;

    .logo img {
      height: 2rem;
      margin-inline: 1.4rem;
    }
  }
  main {
    display: flex;
    height: calc(100vh - #{$footer-height} - #{$header-height});
  }
  aside {
    @include white-containers;

    width: 25%;
    min-width: 32rem;

    padding: 3rem;

    .default-list li {
      cursor: pointer;

      margin-block: 1rem;
      padding: 1rem;

      border-radius: 1rem;
    }
    .default-list li:hover {
      background-color: rgba(128, 128, 128, 0.108);
    }
    .d-active {
      background-color: rgba(128, 128, 128, 0.108);
    }
    .default-list img {
      height: 2rem;

      transform: translateY(4px);

      margin-right: 1rem;
    }
    .projects {
      h3 {
        margin-block: 2rem;

        font-size: 2rem;
      }
      li {
        img {
          height: 2rem;
          margin-right: 0.9rem;

          transform: scale(1.9);
        }
        display: flex;
        justify-content: space-between;

        padding: 1.4rem;

        -webkit-box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.09);
        box-shadow: 1px 1px 16px 3px rgba(0, 0, 0, 0.09);

        margin-block: 2.5rem;
        border-radius: 1.5rem;

        // transition: all 0.2s ease-in-out;
      }
      li:hover {
        // outline: 2px solid $accent-color;
        background-color: $accent-color;
        color: white;
      }
      .active {
        background-color: $accent-color;
        color: white;
      }
      .add-new-projects {
        font-size: 1.8rem;

        margin-block: 2.5rem;

        text-align: center;

        img {
          height: 2rem;
          margin-right: 0.8rem;
        }

        transition: all 0.5s ease-in-out;
      }
      .add-new-projects:hover {
        transform: scale(1.06);
      }
    }
  }
  article {
    @include white-containers;

    flex: 1;

    padding: 3rem 15rem 3rem 15rem;
    h1 {
      font-size: 3rem;

      border-bottom: 2px solid $primary-text-color;

      margin-block: 2rem;
      padding-bottom: 0.8rem;
    }
    .lists {
      margin-top: 4rem;

      label {
        display: flex;
        justify-content: space-between;

        margin-block: 0.5rem;
        padding: 1rem;

        border-radius: 1rem;
        
        .left-side {
          display: flex;
          align-items: center;
        }

        .date {
          visibility: hidden;
          font-size: 1.2rem;
          padding: 0.5rem 1rem;

          border: 1px solid black;
          background-color: #f2f1f1;
          border-radius: 0.8rem;
          letter-spacing: 0.02rem;

        }
        .remove {
          font-size: 1.3rem;
          font-weight: 900;
          padding: 1rem;
        }
      }
      label:hover, .checkbox:hover {
        background-color: rgba(128, 128, 128, 0.089);
        cursor: pointer;
      }
      .checkbox {
        margin-right: 1rem;
        // background-color: red;
        height: 1em;
        width: 1em;

      }
      .checkbox:checked + span {
        text-decoration: line-through;
        color: #8c8c8c;
        // color: #c0c0c0;
      }
      .artificial-checkbox img {
        display: none;

        height: 1.5rem;
        width: 1.5rem;
      }
    }
    .add-new-item {
      font-size: 1.8rem;

      margin: 2rem 0 3.5rem 1rem;

      img {
        height: 2rem;
        margin-right: 0.8rem;
      }

      transition: all 0.8s ease-in-out;
    }
    .add-new-item:hover {
      transform: scale(1.06);
    }
  }
  // footer {
  //   background-color: $accent-color;
  //   color: white;

  //   font-size: 1.4rem;

  //   height: $footer-height;

  //   padding: 1.5rem;
  //   text-align: center;

  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }
}
